body {
  color-scheme: dark;
  --c-b0: #000; --c-b0a: #000a;
  --c-b1: #111; --c-b1a: #111a;
  --c-b2: #222; --c-b2a: #222a;
  --c-b4: #444; --c-b4a: #444a;

  --c-t0: #fff; --c-t0a: #fffa;
  --c-t2: #ddd; --c-t2a: #ddda;
  --c-t7: #888; --c-t7a: #888a;

  @media (prefers-color-scheme: light) {
    color-scheme: normal;
    --c-b0: #fff; --c-b0a: #fffa;
    --c-b1: #d8d8d8; --c-b1a: #d8d8d8a8;
    --c-b2: #ddd; --c-b2a: #ddda;
    --c-b4: #bbb; --c-b4a: #bbba;

    --c-t0: #000; --c-t0a: #000a;
    --c-t2: #222; --c-t2a: #222a;
    --c-t7: #777; --c-t7a: #777a;
  }
  &.dark {
    color-scheme: dark;
    --c-b0: #000; --c-b0a: #000a;
    --c-b1: #111; --c-b1a: #111a;
    --c-b2: #222; --c-b2a: #222a;
    --c-b4: #444; --c-b4a: #444a;

    --c-t0: #fff; --c-t0a: #fffa;
    --c-t2: #ddd; --c-t2a: #ddda;
    --c-t7: #888; --c-t7a: #888a;
  }
  &.light {
    color-scheme: normal;
    --c-b0: #fff; --c-b0a: #fffa;
    --c-b1: #d8d8d8; --c-b1a: #d8d8d8a8;
    --c-b2: #ddd; --c-b2a: #ddda;
    --c-b4: #bbb; --c-b4a: #bbba;

    --c-t0: #000; --c-t0a: #000a;
    --c-t2: #222; --c-t2a: #222a;
    --c-t7: #777; --c-t7a: #777a;
  }

  --border-r:        6px;
  --card-width:    400px;
  --cards-gap:       8px;
  --header-height:  48px;
  --sidebar-width: 300px;
  --div-blur:       24px;
  --card-blur:      12px;
}
