@import './base.scss';

@font-face {
  font-family: "Roboto Flex";
  font-weight: 100 1000;
  src: url(font/RobotoFlex.woff2) format("woff2"),
       url(font/RobotoFlex.ttf)   format("truetype");
}

* {
  margin:  0;
  padding: 0;
  transition: background-color .2s;
  font-family: "Roboto Flex", sans-serif;
}

body {
  background-color: var(--c-b0);
  color:      var(--c-t0);
  user-select: none;
  transition: color .2s;
}

/*  ===  Элементы  ===  */

// Кнопка
.btn {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  text-decoration: unset;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  padding: 0 8px;
  border-radius: var(--border-r);
  border: unset;
  font-size: 16px;
  background-color: transparent;
  color: var(--c-t0);
  &:hover {
    background-color: var(--c-b4a);
  }
  &:active {
    background-color: var(--c-b4);
  }
  &--quad {
    padding: unset;
    min-width: 32px;
    width: 32px;
    font-size: 20px;
  }
  &--circle {
    padding: unset;
    width: 32px;
    border-radius: 50%;
    font-size: 20px;
  }
  &--gray {
    background-color: var(--c-b4a);
    &:hover {
      background-color: var(--c-b4);
    }
    &:active {
      background-color: var(--c-t2a);
      color: var(--c-b0);
    }
  }
  &--inverse {
    background-color: var(--c-t0);
    color: var(--c-b0);
    &:hover {
      background-color: var(--c-t2);
    }
    &:active {
      background-color: var(--c-t2a);
    }
  }
  &:disabled {
    background-color: none;
    cursor: not-allowed;
    color: var(--c-t2a);
    &--inverse {
      background-color: var(--c-t2a);
      color: var(--c-b2);
    }
  }
}
// Выпадающий список
.droplist {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  border-radius: var(--border-r);
  border: unset;
  font-size: 16px;
  height: 32px;
  background-color: transparent;
  color: var(--c-t0);
  padding: 0 6px 0 4px;
  &:hover {
    background-color: var(--c-b4a);
  }
  &:active {
    background-color: var(--c-b4);
  }
  &.field {
    background-color: var(--c-b2a);
    &:hover {
      background-color: var(--c-b4a);
    }
    &:focus {
      background-color: var(--c-b4);
      outline: 1px solid var(--c-t0a);
    }
    &:disabled {
      color: var(--c-t2a)
    }
  }
  option {
    color: var(--c-t0);
    background-color: var(--c-b0);
    &:hover {
      color: var(--c-t0);
      background-color: var(--c-b4)
    }
  }
}
// Текстовое поле
.text-box {
  border: none;
  -webkit-tap-highlight-color: transparent;
  font-size: 16px;
  height: 32px;
  display: block;
  background-color: var(--c-b2a);
  border-radius: var(--border-r);
  padding: 0 8px;
  &[type="number"] {
    &:not(:hover)::-webkit-inner-spin-button {
      display: none;
    }
  }
  &.small {
    width: 50px;
    text-align: end;
    display: inline;
    background-color: transparent;
  }
  &:hover {
    background-color: var(--c-b4a);
  }
  &:focus {
    background-color: var(--c-b4);
    outline: 2px solid var(--c-t0a);
  }
  &:disabled {
    color: var(--c-t2a)
  }
}
// Модальное окно
.popup {
  box-shadow: 0 0 10px #000;
  background-color: var(--c-b2a);
  backdrop-filter: blur(var(--div-blur));
  border-radius: var(--border-r);
  padding: 16px;
  &--fixed {
    position: fixed !important;
    display: block !important;
    top: 40px !important;
    overflow-x: auto;
    max-height: calc(100vh - 80px);
  }
  &--nopad {
    padding: 0;
  }
  &.p-overlaypanel-leave-active {
    display: none !important;
  }
}
// Ползунок
input[type="range"] {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
  height: 16px;
  &::-webkit-slider-runnable-track {
    background-color: var(--c-b0a);
    height: 6px;
    border-radius: 3px;
  }
  &::-moz-range-track {
    background-color: var(--c-b0a);
    height: 6px;
    border-radius: 3px;
  }
  &::-webkit-slider-thumb {
    appearance: none;
    margin-top: -5px;
    background-color: var(--c-t0);
    height: 16px;
    width: 16px;  
    border-radius: 50%;
    &:hover {
      background-color: var(--c-t2);
    }
    &:active {
      background-color: var(--c-t2a);
    }
  }
  &:disabled {
    cursor: not-allowed;
    &::-webkit-slider-thumb {
      background-color: var(--c-t7);
    }
  }
  &::-moz-range-thumb {
    appearance: none;
    margin-top: -5px;
    background-color: var(--c-t0);
    height: 16px;
    width: 16px;  
    border-radius: 50%;
    &:hover {
      background-color: var(--c-t2);
    }
    &:active {
      background-color: var(--c-t2a);
    }
  }
  &:disabled::-moz-range-thumb {
    background-color: var(--c-t7);
  }
}
// Переключатель
.switch {
  display: inline-block;
  font-size: 20px;
  height: 1em;
  width: 2em;
  background: var(--c-b0a);
  border-radius: 1em;
  input {
    position: absolute;
    opacity: 0;
    &:checked + div {
      -webkit-transform: translate3d(100%, 0, 0);
         -moz-transform: translate3d(100%, 0, 0);
              transform: translate3d(100%, 0, 0);
    }
  }
  div {
    height: 1em;
    width: 1em;
    border-radius: 1em;
    background: var(--c-t0);
    -webkit-transition: all 300ms;
       -moz-transition: all 300ms;
            transition: all 300ms;
  }
}
// Для форм
.label-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
.checkbox-group {
  display: flex;
  align-items: center;
  margin-top: 12px;
  gap: 6px;
}
