@import './base.css';

@font-face {
  font-family: "Roboto Flex";
  font-weight: 100 1000;
  src: url(font/RobotoFlex.woff2) format("woff2"),
       url(font/RobotoFlex.ttf)   format("truetype");
}

* {
  margin:  0;
  padding: 0;

  font-family: "Roboto Flex", sans-serif;
}

body {
  background: var(--c-b0);
  color:      var(--c-t0);
  user-select: none;
}

/*  ===  Элементы  ===  */

// Кнопка
.btn {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  text-decoration: unset;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  padding: 0 8px;
  border-radius: var(--border-r);
  border: unset;
  font-size: 16px;
  background-color: transparent;
  color: var(--c-t0);
  transition: 0.2s;
  * {
    fill: var(--c-t0);
  }
  &:hover {
    background-color: var(--c-b4a);
  }
  &:active {
    background-color: var(--c-b4);
  }
  &--quad {
    padding: unset;
    width: 32px;
    font-size: 20px;
  }
  &--circle {
    padding: unset;
    width: 32px;
    border-radius: 50%;
    font-size: 20px;
  }
}
// Выпадающий список
.droplist {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  border-radius: var(--border-r);
  border: unset;
  font-size: 16px;
  height: 32px;
  background-color: transparent;
  color: var(--c-t0);
  padding: 0 6px 0 4px;
  transition: 0.2s;
  &:hover {
    background-color: var(--c-b4a);
  }
  &:active {
    background-color: var(--c-b4);
  }
  option {
    color: var(--c-t0);
    background-color: var(--c-b0);
    &:hover {
      color: var(--c-t0);
      background-color: var(--c-b4)
    }
  }
}
